<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor=#909fe8>
    <h2>Movie Name:{{ms.movie_name}}</h2>
    <h2>Type of Movie{{ms.type_of_movie}}</h2>
    <h2>Release Date{{ms.release_date}}</h2>
    <h2>Language:{{ms.language}}</h2>
    <h2>Cast Names:{{ms.cast_name}}</h2>
    <h2>Producer Name:{{ms.producer_name}}</h2>
    <h2>Director Name:{{ms.director_name}}</h2>&nbsp&nbsp&nbsp

    <a href="/home">Go back</a>
</body>
</html>