<!DOCTYPE html>
{% load staticfiles %}
<p lang="en">
<head>
   <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static "css/m.css"%}">

    <meta charset="UTF-8">
    <title>Moviesinfo</title></title>
</head>
<br>
<h1>Movies</h1>
<p class="menusomething">In-Movies Imagery</br>

    <a href="/details/1" ><img src="{% static "images/dabangg3.jpg" %}"width="300" height="200" vspace="50"></a>&nbsp&nbsp&nbsp&nbsp
    <a href="/details/3" ><img  src="{% static "images/Good newwz.jpg" %}"width="300" height="200" vspace="50"></a>&nbsp&nbsp&nbsp&nbsp
    <a href="/details/4" ><img  src="{% static "images/Panipat.jpg" %}"width="300" height="200" vspace="50"></a>&nbsp&nbsp&nbsp&nbsp
    <a href="/details/5" ><img src="{% static "images/Jumanji.jpg" %}"width="300" height="200" vspace="50"></a>&nbsp&nbsp&nbsp&nbsp
    <a href="/details/6" ><img src="{% static "images/War.jpg" %}"width="300" height="200"></a>
</p>

<!--my img <a href="#"><img src="{% static "images/dabangg3.jpg" alt="loding.." %}" width="300" height="300"></a><br>-->

<!--<div id="slider_container">-->
            <!--<div class="slider">-->
                <!--&lt;!&ndash;<a hrefhref="/veer"><img src="{% static "images/a.jpg" alt="Dabbang" %}"width="300" height="300"></a><br>&ndash;&gt;-->
                <!--<a href="/detail_info"><img id="1" src="{% static "images/dabangg3.jpg" %}"border="1" style="float:left;" /></a><br>-->
                <!--<img id="2" src="{% static "images/War.jpg" %}"border="0" style="float:left;" />-->
                <!--<img id="3" src="{% static "images/Good newwz.jpg" %}"border="0" style="float:left;" />-->
            <!--</div>-->

<!--</div>-->
</body>
</html>

